<stix-card class="full">
  <h2><%= component_instance_title(@component) %></h2>
  <% @component.display_fields.each do |lbl, field| %>
    <%= render_generic_template(field, lbl, 3) unless lbl.to_s.downcase == 'description' %>
  <% end %>
  <% if @component.description %>
    <% @component.description.value.split("\n").each do |para| %>
      <p class="description"><%= para -%></p>
    <% end %>
  <% end %>
  <div class="footer">
    <div id="actions">
      <a href="<%= url_for(:action => :find_connections) -%>"><paper-button><core-icon icon="gesture"></core-icon> Find Connections</paper-button></a>
      <stix-bookmark component-id="<%= @component._id-%>" component-type="<%= @component.class-%>" bookmark="<%= current_user.has_bookmark?(@component)-%>"></stix-bookmark>
      <a href="<%= component_path(@component, :format => 'xml') -%>" target="_blank"><paper-button><core-icon icon="cloud-download"></core-icon> Export to XML</paper-button></a>
    </div>
    <div id="markings">
      <% if @component.information_source.present? %>
        <paper-menu-button>
          <paper-button><core-icon icon="perm-identity"></core-icon> <%= @component.information_source.identity.try(:name) || " Information Source" -%></paper-button>
          <% if info_source_items(@component.information_source).length > 0 %>
            <paper-dropdown class="dropdown" valign="bottom" halign="right">
                <core-menu class="menu">
                  <% info_source_items(@component.information_source).each do |i| %>
                    <core-item><%= i -%></core-item>
                  <% end %>
                </core-menu>
            </paper-dropdown>
          <% end %>
        </paper-menu-button>
      <% end %>
      <% if @component.handling.present? %>
      <paper-menu-button>
        <paper-button><core-icon icon="receipt"></core-icon> Handling</paper-button>
        <% if handling_items(@component.handling).length > 0 %>
          <paper-dropdown class="dropdown" valign="bottom" halign="right">
              <core-menu class="menu">
                <% handling_items(@component.handling).each do |i| %>
                  <core-item><%= i -%></core-item>
                <% end %>
              </core-menu>
          </paper-dropdown>
        <% end %>
      </paper-menu-button>
      <% end %>
    </div>
  </div>
</stix-card>
