<stix-card class="full">
  <h2><%= component_instance_title(@component) %></h2>
  <% @component.display_fields.each do |lbl, field| %>
    <%= render_generic_template(field, lbl, 3) unless lbl.to_s.downcase == 'description' %>
  <% end %>
  <% if @component.description %>
    <% @component.description.value.split("\n").each do |para| %>
      <p class="description"><%= para -%></p>
    <% end %>
  <% end %>
  <div class="footer">
    <div id="actions">
      <paper-button><core-icon icon="gesture"></core-icon> Find Connections</paper-button>
      <stix-bookmark component-id="<%= @component._id-%>" component-type="<%= @component.class-%>" bookmark="<%= current_user.has_bookmark?(@component)-%>"></stix-bookmark>
      <a href="<%= component_path(@component, :format => 'xml') -%>" target="_blank"><paper-button><core-icon icon="cloud-download"></core-icon> Export to XML</paper-button></a>
    </div>
    <div id="markings">
      <paper-button><core-icon icon="perm-identity"></core-icon> Information Source</paper-button>
      <paper-button><core-icon icon="receipt"></core-icon> Handling</paper-button>
    </div>
  </div>
</stix-card>
