<% content_for(:toolbar) do %>
  <%= render '/layouts/top_nav', :components => [component_title(@active_component.name), component_instance_title(@component)] %>
<% end %>

<%= render '/components/header' %>

<div id="double-column">
  <stix-card component="observable">
    <h2><%= observable_type(@component) -%></h2>
    <%= render_observable(@component) %>
  </stix-card>
</div>
<h1 class="embed">Relationships</h1>
<div id="double-column">
  <%= render '/components/generic_footer' %>
</div>
