<% content_for(:toolbar) do %>
  <%= render '/layouts/top_nav', :components => [component_title(@active_component.name).pluralize, component_instance_title(@component) + " [#{indicator_type(@component)}]"] %>
<% end %>

<stix-card class="full">
  <h2><%= component_instance_title(@component) %></h2>
  <% if @component.types.length > 0 %>
    <% @component.types.each do |t| %>
      <%= render '/shared/generic_field', :lbl => 'Type', :object => t.value %>
    <% end %>
  <% end %>
  <p class="description"><%= @component.description.try(:value) -%></p>
</stix-card>

<div class="double-column">
  <%= render '/indicators/pattern', :indicator => @component, :heading_level => 2 %>
  <stix-card component="ttp">
    <h2>Indicated TTPs</h2>
    <% if out = @out.delete('indicated_ttps') %>
        <ul class="component-list">
          <% out.each do |child| %>
          <li>
            <%= link_to(child['title'] || "(Unknown)", component_path_for_class(child['stix_id'], child['class'])) %>
          </li>
          <% end %>
        </ul>
    <% else %>
      <p class="message">No Indicated TTPs</p>
    <% end %>
  </stix-card>
</div>
<h1 class="embedded">Relationships</h1>
<div class="double-column">
  <%= render '/components/generic_footer' %>
</div>
